@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  font-family: 'Poppins', sans-serif;
}

.App {
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  background-size: cover;
  background-repeat: no-repeat;
  gap: 20px;
  padding-bottom: 120px;
  text-align: center;
}